// Mixin for buttons
@mixin button($bg-color, $text-color: #fff) {
    background-color: $bg-color;
    color: $text-color;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: darken($bg-color, 10%);
    }
  }

// Mixin for border-radius
@mixin border-radius($radius) {
    border-radius: $radius;
  }
  
  // Mixin for box-shadow
  @mixin box-shadow($x, $y, $blur, $color) {
    box-shadow: $x $y $blur $color;
  }
  

  // Mixin for flex alignment
@mixin flex-center($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
  }
  