.card--featured, .card--small {
  border-radius: 8px;
  @include box-shadow(0, 4px, 6px, rgba(0, 0, 0, 0.1));
}

.card--featured {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 20px;

  &__image {
    width: auto;
    height: 100%;
    max-height: 100%;
  }

  &__content {
    padding: 15px;
  }

  &__date {
    font-size: 0.875rem;
    color: #999;
    margin-bottom: 10px;
  }

  &__title {
    font-weight: 700;
    color: #292C33;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  &__author {
    display: flex;
    align-items: center;

    &-logo {
      height: 2rem;
      margin-right: 5px;
      border-radius: 50%; // Optional: if you want to make the logo round
    }

    p {
      font-size: 0.875rem;
      color: #67C770;
      margin: 0;
    }
  }
}

.card--small {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;

  &__image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &-img {
      width: auto;
      height: 10rem;
      border-radius: 10px;
    }
  }

  &__content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
  }

  &__date {
    font-size: 0.875rem;
    color: #999;
    margin-bottom: 10px;
  }

  &__title {
    font-weight: 700;
    color: #292C33;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  &__author {
    display: flex;
    align-items: center;

    &-logo {
      height: 2rem;
      margin-right: 5px;
    }

    p {
      font-size: 0.875rem;
      color: #67C770;
      margin: 0;
    }
  }
}

@media (max-width: 982px) {
  .card {
    margin-bottom: 10px;
  }

  .card--small {
    flex-direction: column;
    height: auto;

    &__image {
      grid-column: 1 / span 6;
    }

    &__content {
      grid-column: 7 / span 6;
    }
  }
}
