// Color Variables
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-stack: 'Poppins', sans-serif;
$background-primary-color: #f0f0f0;
$red: #E93E30;
$yellow: #F7E018;
$blue: #299ED5;
$dark: #292C33;
$green: #67C770;
$purple: #563D7C;
$border-radius-color: #ccc;
$text-customized-color: #000;
