body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  color: #292C33;
  margin: 0 0 15px;
}

p {
  margin: 0 0 15px;
  color: #999;
}

a {
  color: #67C770;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #67C770;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  background-color: #44b74e;
}
.button--secondary {
  background-color: #299ED5;
}
.button--secondary:hover {
  background-color: #217eaa;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.card__image, .card__image--pop {
  width: 100%;
  height: 200px;
}
.card__content {
  padding: 15px;
}
.card__date {
  font-size: 0.875rem;
  color: #999;
  margin-bottom: 10px;
}
.card__title {
  font-weight: 700;
  color: #292C33;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.card__author {
  display: flex;
  align-items: center;
}
.card__author-logo {
  height: 2rem;
  margin-right: 5px;
  border-radius: 50%;
}
.card__author p {
  font-size: 0.875rem;
  color: #67C770;
  margin: 0;
}

.small-card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  height: 100px;
  margin-bottom: 20px;
}
.small-card__image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-card__image img {
  width: auto;
  height: 100%;
  border-radius: 10px;
}
.small-card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.card--featured, .card--small {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card--featured {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 20px;
}
.card--featured__image {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.card--featured__content {
  padding: 15px;
}
.card--featured__date {
  font-size: 0.875rem;
  color: #999;
  margin-bottom: 10px;
}
.card--featured__title {
  font-weight: 700;
  color: #292C33;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.card--featured__author {
  display: flex;
  align-items: center;
}
.card--featured__author-logo {
  height: 2rem;
  margin-right: 5px;
  border-radius: 50%;
}
.card--featured__author p {
  font-size: 0.875rem;
  color: #67C770;
  margin: 0;
}

.card--small {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
}
.card--small__image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card--small__image-img {
  width: auto;
  height: 10rem;
  border-radius: 10px;
}
.card--small__content {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
.card--small__date {
  font-size: 0.875rem;
  color: #999;
  margin-bottom: 10px;
}
.card--small__title {
  font-weight: 700;
  color: #292C33;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.card--small__author {
  display: flex;
  align-items: center;
}
.card--small__author-logo {
  height: 2rem;
  margin-right: 5px;
}
.card--small__author p {
  font-size: 0.875rem;
  color: #67C770;
  margin: 0;
}

.card--split, .small-card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card--split {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 20px;
}
.card--split__image {
  width: 50%;
  height: auto;
  max-height: 100%;
}
.card--split__content {
  padding: 15px;
}
.card--split__date {
  font-size: 0.875rem;
  color: #999;
  margin-bottom: 10px;
}
.card--split__title {
  font-weight: 700;
  color: #292C33;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.card--split__author {
  display: flex;
  align-items: center;
}
.card--split__author-logo {
  height: 2rem;
  margin-right: 5px;
  border-radius: 50%;
}
.card--split__author p {
  font-size: 0.875rem;
  color: #67C770;
  margin: 0;
}

.section--split__categorias .card {
  display: flex;
  align-items: center;
}
.section--split__categorias .card.bg-red {
  background-color: #E93E30;
}
.section--split__categorias .card.bg-yellow {
  background-color: #F7E018;
}
.section--split__categorias .card.bg-blue {
  background-color: #299ED5;
}
.section--split__categorias .card.bg-dark {
  background-color: #292C33;
}
.section--split__categorias .card.bg-green {
  background-color: #67C770;
}
.section--split__categorias .card.bg-purple {
  background-color: #563D7C;
}
.section--split__categorias .card .small-card {
  display: flex;
  align-items: center;
  width: 100%;
}
.section--split__categorias .card .small-card__image {
  flex: 1;
}
.section--split__categorias .card .small-card__image img {
  width: auto;
  height: 50px;
}
.section--split__categorias .card .small-card__content {
  flex: 2;
}
.section--split__categorias .card .small-card__content h4 {
  color: #fff;
  margin: 0;
}

@media (max-width: 982px) {
  .card {
    margin-bottom: 10px;
  }
  .small-card {
    flex-direction: column;
    height: auto;
  }
  .small-card__image {
    grid-column: 1/span 6;
  }
  .small-card__content {
    grid-column: 7/span 6;
  }
}
.subscription {
  padding: 20px;
  background-color: #67C770;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 700px;
}
.subscription__title {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #fff;
}
.subscription__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.subscription__form__input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  width: 300px;
  height: 5rem;
  font-size: 1.5rem;
}
.subscription__form__button {
  padding: 10px 20px;
  background-color: #ccc;
  color: #292C33;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
  height: 4rem;
}
.subscription__form__button:hover {
  background-color: #b3b3b3;
}

.header {
  background-color: #fff;
  padding: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.header__logo {
  height: 50px;
  margin-right: 20px;
}
.header__title {
  font-size: 2rem;
  margin: 0;
}

@media (max-width: 982px) {
  .header__title {
    font-size: 1.5rem;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
}
.footer__left, .footer__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__logo {
  height: 50px;
  margin-right: 20px;
}
.footer__title, .footer__text {
  font-size: 1.5rem;
  margin-right: 50px;
  color: #000;
}
.footer__right {
  margin-left: 50px;
}

@media (max-width: 982px) {
  .footer {
    padding: 5px;
  }
  .footer__right {
    margin-left: 10px;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.grid-item--featured {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
}

.grid-item--small {
  grid-column: span 6;
  display: grid;
  gap: 20px;
}

@media (max-width: 982px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-item--featured, .grid-item--small {
    grid-column: span 12;
  }
  .section--split {
    flex-direction: column;
  }
  .section--split__populares, .section--split__categorias {
    width: 100%;
    margin-bottom: 20px;
  }
}
.section__populares {
  grid-column: span 8;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
@media (max-width: 942px) {
  .section__populares {
    grid-column: span 12;
    grid-template-columns: 1fr;
  }
}

.section__categorias {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}
@media (max-width: 942px) {
  .section__categorias {
    grid-column: span 12;
  }
}
.section__categorias .card {
  display: flex;
  align-items: center;
}
.section__categorias .card.bg-red {
  background-color: #E93E30;
}
.section__categorias .card.bg-yellow {
  background-color: #F7E018;
}
.section__categorias .card.bg-blue {
  background-color: #299ED5;
}
.section__categorias .card.bg-dark {
  background-color: #292C33;
}
.section__categorias .card.bg-green {
  background-color: #67C770;
}
.section__categorias .card.bg-purple {
  background-color: #563D7C;
}
.section__categorias .card .small-card {
  display: flex;
  align-items: center;
  width: 100%;
}
.section__categorias .card .small-card__image {
  flex: 1;
}
.section__categorias .card .small-card__image img {
  width: auto;
  height: 50px;
}
.section__categorias .card .small-card__content {
  flex: 2;
}
.section__categorias .card .small-card__content h4 {
  color: #fff;
  margin: 0;
}

.section {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

@media (max-width: 982px) {
  .section {
    padding: 10px;
  }
  .section--split {
    flex-direction: column;
  }
  .section__populares, .section__categorias {
    width: 100%;
    margin-bottom: 20px;
  }
}
.main-content {
  flex: 1;
  padding: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

.section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.section__title {
  font-weight: 700;
  color: #292C33;
  margin-bottom: 5px;
  text-align: left;
  font-size: 2.5rem;
}

.section--split {
  display: flex;
  justify-content: space-between;
}

.section__populares, .section__categorias {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 48%;
}

.popular-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.popular-cards .card {
  flex: 1 1 calc(50% - 20px);
}

.small-card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  padding-left: 50px;
  overflow: hidden;
  height: 100px;
  margin-bottom: 20px;
}

.small-card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-card__content h4 {
  margin: 0;
  color: #fff;
}

.ver-todas {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #299ED5;
  font-weight: 500;
}

.registration {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
}
.registration__title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #292C33;
}
.registration__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.registration__form .registration__input {
  font-size: 1.5rem;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}
.registration__form .registration__button {
  padding: 15px;
  background-color: #67C770;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
}
.registration__form .registration__button:hover {
  background-color: #44b74e;
}
.registration__form .registration__google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.registration__form .registration__google-button:hover {
  background-color: #f0f0f0;
}
.registration__form .registration__google-button img {
  margin-right: 10px;
  height: 2rem;
  width: auto;
}
.registration__login-link {
  margin-top: 20px;
  font-size: 0.875rem;
  color: #999;
}
.registration__login-link a {
  color: #67C770;
  text-decoration: none;
}
.registration__login-link a:hover {
  text-decoration: underline;
}

.post-detail {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
}
.post-detail__title {
  font-size: 1.5rem;
  color: #292C33;
  margin-bottom: 15px;
}
.post-detail__meta {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.post-detail__meta-author-logo {
  height: 2rem;
  margin-right: 10px;
}
.post-detail__meta .post-detail__author {
  font-size: 0.875rem;
  color: #999;
  margin-right: 15px;
}
.post-detail__meta .post-detail__date {
  font-size: 0.875rem;
  color: #999;
}
.post-detail__content {
  font-size: 1rem;
  color: #292C33;
  background-color: #f0f0f0;
}
.post-detail__content p {
  margin-bottom: 15px;
}
.post-detail__content .post-detail__image-container {
  text-align: center;
  padding: 15px;
  border-radius: 8px;
}
.post-detail__content .post-detail__image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 15px 0;
}

.related-posts {
  background-color: #fff;
}
.related-posts__title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #292C33;
}
.related-posts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.related-posts__list .card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
}
@media (max-width: 768px) {
  .related-posts__list .card {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}
@media (max-width: 480px) {
  .related-posts__list .card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.related-posts__list .card__image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.related-posts__list .card__content {
  padding: 15px;
}
.related-posts__list .card__content__date {
  font-size: 0.875rem;
  color: #999;
  margin-bottom: 10px;
}
.related-posts__list .card__content__title {
  font-size: 1rem;
  color: #292C33;
  margin-bottom: 10px;
}
.related-posts__list .card__content__author {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: #999;
}
.related-posts__list .card__content__author-logo {
  height: 1.5rem;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
