@import '../abstracts/mixins';

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 40px;
    @include flex-center(space-between);
    border-top: 1px solid $border-radius-color;
  
    &__left, &__right {
      @include flex-center();
    }
    
    &__logo {
      height: 50px;
      margin-right: 20px;
    }
    
    &__title, &__text {
      font-size: 1.5rem;
      margin-right: 50px;
      color: $text-customized-color;
    }

    &__right {
      margin-left: 50px; // Ajusta este valor según sea necesario
    }
  }

  @media (max-width: 982px) {
    .footer {
        padding: 5px;
    }
    .footer__right {
      margin-left: 10px; // Ajusta este valor para pantallas pequeñas si es necesario
  }
}