.main-content {
    flex: 1;
    padding: $spacing-medium;
    align-items: center;
    justify-content: center;
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px; 
  
  }