<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Post</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header class="header">
        <img src="../assets/img/logos/adl.png" alt="ADL Logo" class="header__logo">
        <h1 class="header__title">Blog FrontEnd</h1>
        <hr>
    </header>
    <main class="main-content">
        <article class="post-detail">
            <h2 class="post-detail__title">Modifica el tema de Bootstrap con variables CSS</h2>
            <div class="post-detail__meta">
                <img src="../assets/img/logos/adl.png" alt="Desafío Latam" class="post-detail__meta-author-logo">
                <p class="post-detail__author">Desafío Latam</p>
                <p class="post-detail__date">24 Noviembre, 2022</p>
            </div>
            <div class="post-detail__content">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <div class="post-detail__image-container">
                    <img src="../assets/img/posts/bootstrap.png" alt="Bootstrap" class="post-detail__image">
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </article>
        <section class="related-posts">
            <h2 class="related-posts__title">Relacionados</h2>
            <div class="related-posts__list">
                <div class="card">
                    <img src="../assets/img/posts/vue-components.png" alt="Vue" class="card__image">
                    <div class="card__content">
                        <p class="card__date">24 Noviembre, 2022</p>
                        <h4 class="card__title"><a href="detalle-post.html">Componentes Vue</a></h4>
                        <p class="card__author">
                            <img src="../assets/img/logos/adl.png" alt="Desafío Latam" class="card__author-logo"> Desafío Latam
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/img/posts/api-js.png" alt="API JS" class="card__image">
                    <div class="card__content">
                        <p class="card__date">24 Noviembre, 2022</p>
                        <h4 class="card__title"><a href="detalle-post.html">Consumo de API con JavaScript</a></h4>
                        <p class="card__author">
                            <img src="../assets/img/logos/adl.png" alt="Desafío Latam" class="card__author-logo"> Desafío Latam
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/img/posts/sass.jpg" alt="Sass" class="card__image">
                    <div class="card__content">
                        <p class="card__date">24 Noviembre, 2022</p>
                        <h4 class="card__title"><a href="detalle-post.html">CSS reutilizable con Sass</a></h4>
                        <p class="card__author">
                            <img src="../assets/img/logos/adl.png" alt="Desafío Latam" class="card__author-logo"> Desafío Latam
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <hr>
    <br>
    <footer class="footer">
        <div class="footer__left">
            <img src="../assets/img/logos/adl.png" alt="ADL Logo" class="footer__logo">
            <span class="footer__title">Blog FrontEnd</span>
        </div>
        <div class="footer__right">
            <span class="footer__text">Desafío Latam - 2023</span>
        </div>
    </footer>
</body>
</html>
