<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blog FrontEnd</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <header class="header">
        <img src="../assets/img/logos/adl.png" alt="ADL Logo" class="header__logo">
        <h1 class="header__title">Blog FrontEnd</h1>
    </header>
    <main class="main-content">
        <section class="section section__blog">
            <h2 class="section__title">Novedades</h2>
            <div class="grid-container">
                <div class="grid-item grid-item--featured">
                    <div class="card card--featured">
                        <img src="../assets/img/posts/bootstrap.png" alt="Bootstrap" class="card--featured__image">
                        <div class="card--featured__content">
                            <p class="card--featured__date">24 Noviembre, 2022</p>
                            <h4 class="card--featured__title">Modifica el tema de Bootstrap con variables CSS</h4>
                            <p class="card--featured__author">
                                <img src="../assets/img/logos/adl.png" alt="Desafío Latam"
                                    class="card--featured__author-logo"> Desafío Latam
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-item grid-item--small">
                    <div class="card card--small">
                        <div class="card--small__image">
                            <img src="../assets/img/posts/Herencia-JS.png" alt="JavaScript"
                                class="card--small__image-img">
                        </div>
                        <div class="card--small__content">
                            <p class="card--small__date">24 Noviembre, 2022</p>
                            <h4 class="card--small__title">Herencia en JavaScript</h4>
                            <p class="card--small__author">
                                <img src="../assets/img/logos/adl.png" alt="Desafío Latam"
                                    class="card--small__author-logo"> Desafío Latam
                            </p>
                        </div>
                    </div>
                    <div class="card card--small">
                        <div class="card--small__image">
                            <img src="../assets/img/posts/Etiquetas-semánticas-HTML.png" alt="HTML"
                                class="card--small__image-img">
                        </div>
                        <div class="card--small__content">
                            <p class="card--small__date">24 Noviembre, 2022</p>
                            <h4 class="card--small__title">Etiquetas Semánticas</h4>
                            <p class="card--small__author">
                                <img src="../assets/img/logos/adl.png" alt="Desafío Latam"
                                    class="card--small__author-logo"> Desafío Latam
                            </p>
                        </div>
                    </div>
                    <div class="card card--small">
                        <div class="card--small__image">
                            <img src="../assets/img/posts/reactComponents.png" alt="React"
                                class="card--small__image-img">
                        </div>
                        <div class="card--small__content">
                            <p class="card--small__date">24 Noviembre, 2022</p>
                            <h4 class="card--small__title">Componentes React</h4>
                            <p class="card--small__author">
                                <img src="../assets/img/logos/adl.png" alt="Desafío Latam"
                                    class="card--small__author-logo"> Desafío Latam
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--split">
            <div class="section__populares">
                <h2 class="section__title">Populares</h2>
                <div class="grid-container">
                    <div class="grid-item grid-item--small">
                        <div class="card card-pop">
                            <img src="../assets/img/logos/vue.png" alt="Vue" class="card__image--pop">
                            <div class="card__content">
                                <p class="card__date">24 Noviembre, 2022</p>
                                <h4 class="card__title"><a href="detalle-post.html">Componentes Vue</a></h4>
                                <p class="card__author">
                                    <img src="../assets/img/logos/adl.png" alt="Desafío Latam"
                                        class="card--split__author-logo"> Desafío Latam
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item grid-item--small">
                        <div class="card">
                            <img src="../assets/img/posts/api-js.png" alt="API JS" class="card__image--pop">
                            <div class="card__content">
                                <p class="card__date">24 Noviembre, 2022</p>
                                <h4 class="card__title"><a href="detalle-post.html">Consumo de API con JavaScript</a></h4>
                                <p class="card__author">
                                    <img src="../assets/img/logos/adl.png" alt="Desafío Latam"
                                        class="card--split__author-logo"> Desafío Latam
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item grid-item--small">
                        <div class="card">
                            <img src="../assets/img/posts/sass.jpg" alt="Sass" class="card__image--pop">
                            <div class="card__content">
                                <p class="card__date">24 Noviembre, 2022</p>
                                <h4 class="card__title"><a href="detalle-post.html">CSS reutilizable con Sass</a></h4>
                                <p class="card__author">
                                    <img src="../assets/img/logos/adl.png" alt="Desafío Latam"
                                        class="card--split__author-logo"> Desafío Latam
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item grid-item--small">
                        <div class="card">
                            <img src="../assets/img/posts/bootstrap.png" alt="Bootstrap" class="card__image--pop">
                            <div class="card__content">
                                <p class="card__date">24 Noviembre, 2022</p>
                                <h4 class="card__title"><a href="detalle-post.html">Componentes Bootstrap</a></h4>
                                <p class="card__author">
                                    <img src="../assets/img/logos/adl.png" alt="Desafío Latam"
                                        class="card--split__author-logo"> Desafío Latam
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section__categorias">
                <h2 class="section__title">Categorias</h2>
                <hr>
                <div class="card bg-red">
                    <div class="small-card bg-red">
                        <div class="small-card__image">
                            <img src="../assets/img/logos/html.png" alt="HTML">
                        </div>
                        <div class="small-card__content">
                            <h4 class="card__title">HTML</h4>
                        </div>
                    </div>
                </div>
                <div class="card bg-yellow">
                    <div class="small-card">
                        <div class="small-card__image">
                            <img src="../assets/img/logos/js.png" alt="JavaScript">
                        </div>
                        <div class="small-card__content">
                            <h4 class="card__title">JavaScript</h4>
                        </div>
                    </div>
                </div>
                <div class="card bg-blue">
                    <div class="small-card">
                        <div class="small-card__image">
                            <img src="../assets/img/logos/css.png" alt="CSS">
                        </div>
                        <div class="small-card__content">
                            <h4 class="card__title">CSS</h4>
                        </div>
                    </div>
                </div>
                <div class="card bg-dark">
                    <div class="small-card">
                        <div class="small-card__image">
                            <img src="../assets/img/logos/react.png" alt="React">
                        </div>
                        <div class="small-card__content">
                            <h4 class="card__title">React</h4>
                        </div>
                    </div>
                </div>
                <div class="card bg-green">
                    <div class="small-card">
                        <div class="small-card__image">
                            <img src="../assets/img/logos/vue.png" alt="Vue">
                        </div>
                        <div class="small-card__content">
                            <h4 class="card__title">Vue</h4>
                        </div>
                    </div>
                </div>
                <div class="card bg-purple">
                    <div class="small-card">
                        <div class="small-card__image">
                            <img src="../assets/img/logos/bootstrap-logo.png" alt="Bootstrap">
                        </div>
                        <div class="small-card__content">
                            <h4 class="card__title">Bootstrap</h4>
                        </div>
                    </div>
                </div>
                <a href="#" class="ver-todas">Ver todas las categorías &gt;</a>
            </div>
        </section>
    </main>
    <br>
    <footer class="footer">
        <div class="footer__left">
            <img src="../assets/img/logos/adl.png" alt="ADL Logo" class="footer__logo">
            <span class="footer__title">Blog FrontEnd</span>
        </div>
        <div class="footer__right">
            <span class="footer__text">Desafío Latam - 2023</span>
        </div>
    </footer>
</body>

</html>