.section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.section__title {
    font-weight: 700;
    color: #292C33;
    margin-bottom: 5px;
    text-align: left;
    font-size: 2.5rem;
}

.section--split {
    display: flex;
    justify-content: space-between;
}

.section__populares, .section__categorias {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 48%;
}


.popular-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.popular-cards .card {
    flex: 1 1 calc(50% - 20px);
}

.small-card {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    padding-left: 50px;
    overflow: hidden;
    height: 100px;
    margin-bottom: 20px; 
}

.small-card__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-card__content h4 {
    margin: 0;
    color: #fff;
}

.ver-todas {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #299ED5;
    font-weight: 500;
}
