@import '../abstracts/mixins';
@import '../themes/theme';


.login {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;

    &__title {
        font-size: $font-size-large;
        margin-bottom: $spacing-large;
        color: $text-color;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: $spacing-small;

        &__input {
            font-size: $font-size-large;
            padding: $spacing-medium;
            margin-bottom: $spacing-medium;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            width: 100%;
        }

        &__button {
            padding: $spacing-medium;
            background-color: $primary-color;
            color: #fff;
            font-size: $font-size-medium;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-bottom: $spacing-medium;

            &:hover {
                background-color: darken($primary-color, 10%);
            }
        }
    }

    &__register-link {
        font-size: $font-size-small;
        color: $muted-text-color;

        a {
            color: $primary-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    position: fixed;
    width: 100%;
    bottom: 0;

    &__logo {
        height: 30px;
    }

    &__title {
        font-size: 1rem;
        color: $text-color;
    }

    &__text {
        font-size: 1rem;
        color: $muted-text-color;
    }
}
