// Colors
$primary-color: #67C770;
$secondary-color: #299ED5;
$accent-color: #F7E018;
$background-color-body: #f0f0f0;
$text-color: #292C33;
$muted-text-color: #999;

// Font Sizes
$font-size-base: 16px;
$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-large: 1.5rem;
$font-size-title: 2.5rem;

// Spacing
$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 20px;
$spacing-xlarge: 40px;
